<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Divermatica{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>

    <header class="nav-area">
        <div class="nav-container">

            <!-- LOGO -->
            <a href="{{ url_for('jogos_index') }}" class="nav-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Divermatica">
            </a>

            <!-- LINKS -->
            <nav class="nav-menu">
                <a class="nav-item active" href="{{ url_for('jogos_index') }}">
                    <img src="{{ url_for('static', filename='images/icons/estrela_jogos_icon.png') }}" alt="">
                    Jogos
                </a>

                <a class="nav-item active" href="{{ url_for('sobre') }}">
                    <img src="{{ url_for('static', filename='images/icons/sobre_icon.png') }}" alt="">
                    Sobre
                </a>

                <a class="nav-item active" href="{{ url_for('quiz') }}">
                    <img src="{{ url_for('static', filename='images/icons/quiz_icon.png') }}" alt="">
                    Quiz
                </a>

                <a class="nav-item nav-logout" href="{{ url_for('index') }}" id="sair-button">
                    <img src="{{ url_for('static', filename='images/icons/sair.png') }}" alt="Sair">
                     Sair
                </a>
                

            </nav>

        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sairButton = document.getElementById('sair-button');

            if (sairButton) {
                sairButton.addEventListener('click', function () {
                    sessionStorage.removeItem('ano_escolar');
                    window.location.href = '{{ url_for("index") }}';
                });
            }
        });
    </script>

</body>
</html>