{% extends "base.html" %}
{% block title %}Página Inicial - Divermatica{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jogos.css') }}">
    <!-- MOSTRA MENU DE JOGOS PARA TODOS -->
    <div class="menu-jogos">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <img src="{{url_for('static', filename='images/nuvem.png')}}" alt="Nuvem" class="nuvem">
            <img src="{{ url_for('static', filename='images/nuvem.png') }}" alt="Nuvem" class="nuvem2">
            <img src="{{ url_for('static', filename='images/mascote1.png') }}" alt="Mascote" class="mascote_voando">
            <img src="{{ url_for('static', filename='images/arbusto.png') }}" alt="Arbusto" class="arbusto">

       
        
        <div class="texto_jogos">Escolha seu jogo!</div>
        <div class="texto-subtitulo">
            <img src="{{ url_for('static', filename='images/icons/faixaazul.png') }}" alt="Aprenda brincando!" class="faixa">
            <p class="texto-subtitulo">Aprenda brincando!</p>
        </div>
        <div class="jogos-grid">
            <a href="{{ url_for('jogo_memoria') }}" class="jogo-card">
                <img class="imagem1" src="{{ url_for('static', filename='images/icons/imagem1.png') }}" alt="Jogo da Memória">
                <h3>Jogo da Memória</h3>
                <p>Teste sua memória com este jogo clássico</p>
            </a>
            <a href="{{ url_for('jogo_divisao') }}" class="jogo-card">
                <img class="imagem2" src="{{ url_for('static', filename='images/icons/imagem2.png') }}" alt="Jogo da Divisão">
                <h3>Jogo da Divisão</h3>
                <p>Pratique divisão de forma divertida</p>
            </a>
            <a href="{{ url_for('jogo_multiplicacao') }}" class="jogo-card">
                <img class="imagem3" src="{{ url_for('static', filename='images/icons/imagem3.png') }}" alt="Jogo da Multiplicação">
                <h3>Jogo da Multiplicação</h3>
                <p>Pratique Multiplicação de forma divertida</p>
            </a>
            <a href="{{ url_for('jogo_adicao') }}" class="jogo-card">
                <img class="imagem4" src="{{ url_for('static', filename='images/icons/imagem4.png') }}" alt="Jogo de Adição">
                <h3>Jogo da Adição</h3>
                <p>Pratique adição arrastando o número correto</p>
            </a>
            <a href="{{ url_for('jogo_subtracao') }}" class="jogo-card">
                <img class="imagem5" src="{{ url_for('static', filename='images/icons/imagem5.png') }}" alt="Jogo da Subtração">
                <h3>Jogo da Subtração</h3>
                <p>Pratique subtração arrastando o número correto</p>
            </a>
        </div>
    </div>
{% endblock %}

<!-- corrigido -->